:root{
    --blanco:#ffffff;
    --negro:#212121;
    --primario:#71A92D;
    --secundario:#0097A7;
    --gris:#757575;

}

html{
    font-size: 62.5%;
}

body{
   
    font-size: 16px;/*con esos ajustes del html a 62.5% y el body a 16 px  1rem = 10 px*/
    font-family: 'Merriweather', serif;
}

.titulo{
    text-align: center; 
    font-size: 3.8rem;
}

.titulo span{
    font-size: 2rem;
    
}
